<template>
  <div id="main">
    <navbar></navbar>
    <div class="wrapper">
      <div class="progress">
        <img :src="bgImg" alt="" class="bg-img" v-show="!showPercent">
        <el-progress type="circle" :percentage="uploadPer" v-show="showPercent"></el-progress>
        <p class="title">珠小秘文件管理</p>
      </div>
      <div class="info">
        <p class="info-title" :class="{border2px:selectDir.length==0}">{{selectTitle}}
          <span class="info-title-span">文件夹({{'共'+selectDir.length+'个'}})</span>
        </p>
        <ul class="info-content" :class="{borPadding:selectDir.length>0}">
          <li v-for="(dir,index) in selectDir" :key="dir" :class="{borderBottom:index !== selectDir.length-1}">
            <span :title="dir">{{dir}}
            </span>
            <i class="el-icon-delete btn" @click="delDir(dir)"></i>
          </li>
        </ul>
      </div>
      <div class="actions">
        <el-button @click="selDir" class="select-btn">选择文件夹</el-button>
        <el-button @click="start" type="primary" class="start-btn" :disabled="uploadPer !== 0">开始上传</el-button>
      </div>
    </div>
  </div>
</template>

<script>
const { dialog } = require("electron").remote;
const fs = require("fs");
const path = require("path");
const co = require("co");
const OSS = require("ali-oss");
import { config_oss, oss_upload } from "@/utils/oss_config";
import bgImg from "../../../static/imgs/bg.jpg";
import { mapGetters } from "vuex";
import Navbar from "./Navbar";
import { checkFiles } from "@/api/upload";
export default {
  data() {
    return {
      bgImg: bgImg,
      uploadList: [], //oss队列
      submitList: [], //传后台队列
      selectTitle: "请选择要上传的",
      selectDir: [],
      uploadPer: 0,
      showPercent: false,
      loading: false
    };
  },
  methods: {
    getFileType(fileName) {
      let arr = fileName.split(".");
      let len = arr.length;
      return arr[len - 1];
    },
    selDir() {
      let that = this;
      this.uploadList = [];
      this.selectDir = [];
      let order = -1;
      dialog.showOpenDialog(
        null,
        { properties: ["openDirectory", "multiSelections"] },
        filePaths => {
          //获取最外层文件夹目录
          if (filePaths) {
            console.log(`选择的文件夹是:${filePaths}`);
            console.log(`*********************************************`);
            //子文件夹目录
            this.selectTitle = "可以上传的";
            let child_dirs = fs.readdirSync(filePaths[0]);
            console.log(child_dirs);
            //该文件夹内所有子文件夹 `child_dirs`:1001 2002

            //请求后台检测不存在的商品
            let loadingInstance = that.$loading({ fullscreen: true, lock: true, text: '读取数据中，请稍后...' });
            checkFiles().then(res => {
              let data = res.data.fail;
              console.log(`不存在商品【${data}】`);
              // this.$message.error(`不存在商品【${data}】`);
              console.log(`*********************************************`);
              if (data.length > 0) {
                for (let i in data) {
                  child_dirs = child_dirs.filter(function(v) {
                    return v !== data[i];
                  });
                }
              }
              loadingInstance.close()
              child_dirs.map(child_dir => {
                // 子文件夹中文件名称 `fileNames`: 1.jpg,2.jpg,3.jpg
                let fileNames = fs.readdirSync(
                  filePaths[0] + path.sep + child_dir
                );
                //检查文件夹中文件数量，不允许大于9
                if (fileNames.length > 9) {
                        that.$alert(`不存在商品【${data}】、文件夹【${child_dir}】中图片大于9张`, '错误信息', {
                          confirmButtonText: '确定',
                          callback: action => {
                          }
                        });
                  // this.$alert(`不存在商品【${data}】\n文件夹【${child_dir}】中图片大于9张，请调整后再上传`);
                  return;
                }
                this.selectDir.push(child_dir);

                console.log(`${child_dir}文件夹下的文件为：${fileNames}`);
                console.log(`*********************************************`);
                //子文件夹中文件
                fileNames.map((fileName, i) => {
                  order++;
                  console.log(`${child_dir}下：有${i + 1}件商品`);
                  console.log(`*********************************************`);
                  let fileType = this.getFileType(fileName);
                  //检查文件类型
                  let imgType = "JPG,JPEG,PNG,GIF";
                  if (imgType.indexOf(fileType.toUpperCase()) == -1) {
                    this.$alert(`文件夹【${child_dir}】中存在错误格式，请修改后再上传`);
                    this.selectDir.splice(this.selectDir.indexOf(child_dir), 1);
                    return;
                  }
                  let name = fileName.substr(0, fileName.lastIndexOf(`.`)); //文件名
                  console.log("文件名为：" + name);
                  console.log(`*********************************************`);
                  let timestamp = Date.parse(new Date());
                  let ossName = `${that.oss.filepath}${md5(
                    timestamp + Math.random()
                  )}.${fileType}`;
                  let localFile = path.join(filePaths[0], child_dir, fileName);
                  that.uploadList.push({
                    order: order,
                    name: ossName,
                    localFile: localFile
                  });
                });

                console.log("选择的文件夹的子目录是：" + child_dir);
                console.log(`*********************************************`);
              });
              console.log("oss上传队列：");
              console.log(this.uploadList);
              console.log(`*********************************************`);
            });
          } else {
            this.$message.info("已取消选择或读取文件夹失败!");
          }
        }
      );
    },
    delDir(dir) {
      console.log(dir);
      this.selectDir.map((e, i) => {
        if (e == dir) {
          this.selectDir.splice(i, 1);
        }
      });
      if (this.selectDir.length == 0) {
        this.selectTitle = "请选择要上传的";
      }
    },
    start() {
      let that = this;
      let files = this.uploadList;
      let percent = null;
      let progress = [];
      this.submitList = []; //传后台队列
      //如果有文件
      if (files.length > 0) {
        this.showPercent = true;
        let client = config_oss(this.oss);
        files.map(e => {
          co(function*() {
            let checkpoint;
            // retry 5 times
            for (let i = 0; i < 5; i++) {
              let result = yield client.multipartUpload(e.name, e.localFile, {
                checkpoint: checkpoint,
                progress: function*(p, cpt) {
                  checkpoint = cpt;
                  progress.push(p);
                  percent = Math.round(progress.length / files.length * 100);
                  that.uploadPer = percent;
                  console.log("Percent: " + percent);
                }
              });
              that.submitList.push({
                name: e.name,
                order: e.order
              });
              console.log(that.submitList);
              console.log(JSON.stringify(that.submitList));
              break;
            }
          }).catch(err => {
            console.error(err);
          });
        });
      } else {
        this.$alert("请选择需要上传的文件夹");
      }
    }
  },
  watch: {
    uploadPer(val, old) {
      console.log(val);
      if (val == 100) {
        this.$message.success("上传成功");
        this.showPercent = false;
        this.uploadPer = 0;
      }
    }
  },
  computed: {
    ...mapGetters(["oss", "avatar"])
  },
  components: { Navbar }
};
</script>

<style lang="scss">
@import "../styles/mixin.scss";

.wrapper {
  background: #fff;
  height: 90vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;

  .progress {
    height: 420px;
    .el-progress {
      width: 160px;
      height: 160px;
      margin-bottom: 20px;
    }

    .el-progress-circle {
      width: 160px !important;
      height: 160px !important;
    }
    .bg-img {
      width: 200px;
      height: 200px;
    }
    .title {
      color: #8fa7c1;
      font-weight: bold;
    }
  }

  .info {
    color: #95b1d0;
    &-title-span {
      color: #f33a3a;
    }
    &-content {
      max-height: 200px;
      overflow-y: scroll;
      border-radius: 4px;
      .btn {
        cursor: pointer;
        vertical-align: top;
        margin-top: 3px;
      }
    }
  }

  .actions {
    margin: 10px auto;
    .select-btn {
      margin-bottom: 10px;
    }
    .start-btn {
      width: 102px;
    }
  }
}

.borPadding {
  padding: 4px 6px;
  border: 1px solid;
}

.border2px {
  border-bottom: 2px solid;
}

.borderBottom {
  border-bottom: 1px solid;
  span {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
