<template>
  <div class="login-container">
    <el-form autoComplete="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left" label-width="0px" class="card-box login-form">
      <h3 class="title">系统登录</h3>
      <el-form-item prop="username">
        <span class="svg-container">
          <icon-svg icon-class="people"></icon-svg>
        </span>
        <el-input name="username" type="text" v-model="loginForm.username" autoComplete="on" placeholder="帐号"></el-input>
      </el-form-item>

      <el-form-item prop="passwd">
        <span class="svg-container">
          <icon-svg icon-class="mima"></icon-svg>
        </span>
        <el-input name="passwd" type="password" @keyup.enter.native="handleLogin" v-model="loginForm.passwd" autoComplete="on" placeholder="密码"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" style="width:100%;" :loading="loading" @click.native.prevent="handleLogin">
          登录
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    const validateAccount = (rule, value, callback) => {
      if (!value) {
        callback(new Error('账号不能为空'));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('密码不能小于6位'));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: '',
        passwd: '',
      },
      loginRules: {
        username: [
          { required: true, trigger: 'change', validator: validateAccount }
        ],
        passwd: [
          { required: true, trigger: 'change', validator: validatePass }
        ]
      },
      loading: false
    }
  },
  created() {
    var timestamp = (new Date()).valueOf();
  },
  methods: {
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          this.$store.dispatch('GetInfo')
          this.$store.dispatch('Login', this.loginForm).then(res => {
            if (res === 1 ) {
              this.$router.push({ path: '/' });
              this.loading = false;
            }
          }).catch(() => {
            this.loading = false;
          });
        } else {
          return false;
        }
      });
    },
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
@import "../styles/mixin.scss";
.login-container {
  @include relative;
  height: 100vh;
  background-color: #2d3a4b;
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
  input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    color: #eeeeee;
    height: 47px;
  }
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: #889aa4;
  }
  .validate-wrapper {
    height: 47px;
    .svg-container {
      padding: 0;
    }
    .validatePic {
      display: inline-block;
    }
  }

  .title {
    font-size: 26px;
    font-weight: 400;
    color: #eeeeee;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>
