<template>
	<div class="navbar">
		<div class="avatar-wrapper">
			<img v-if="avatar" class="user-avatar" :src="oss.domain+avatar">
			<img v-else class="user-avatar" src="../../../static/imgs/avatar.jpg">
		</div>
		<p class="welcome">欢迎您！{{name}}</p>
		<el-button size="small" @click="logout">退出</el-button>
		<el-button size="small" @click.native="checkUpdate">更新</el-button>

		<el-dialog :title="dialogTitle" top='36%' :visible.sync="dialogVisible" :close-on-click-modal="false" :show-close="percentage == 100 || updateMsg.code == 0|| updateMsg.code == 3">
			<span v-if="!showPercent">{{updateMsg.msg}}</span>
			<el-progress v-if="showPercent" :percentage="percentage"></el-progress>
		</el-dialog>

	</div>
</template>

<script>
import { mapGetters } from 'vuex';
const {ipcRenderer} = require('electron')

export default {
	name: 'navbar',
	data() {
		return {
			dialogTitle:'正在检查更新',
			dialogVisible:false,
			showPercent:false,
			updateMsg:{},
			percentage:0
		}
	},
	computed: {
		...mapGetters([
			'sidebar',
			'oss',
			'avatar',
			'name'
		])
	},
	methods: {
		checkUpdate() {
			let that = this;
			ipcRenderer.send('check-for-update', 'event-update');
			this.dialogVisible = true;
			//响应更新事件
			ipcRenderer.on('message', function(event, info) { // 监听父页面定义的端口
				that.updateMsg = info;
				if(info.code == 0) {
					that.dialogTitle = '更新出错';
				}
				if(info.code == 3) {
					that.dialogTitle = '提示';
				}
				if(that.percentage == 100 && that.updateMsg.code == 0){
					//下载完后更新出错 文件sha512 checksum mismatch
					that.dialogVisible = false;
					that.updateMsg = {};
					that.percentage = 0;
					that.dialogTitle = '文件校验失败';
					that.$alert('下载的文件信息有误，请重新下载或联系管理人员');
				}
			});
			ipcRenderer.on('downloadProgress', function(event, message) { // 监听父页面定义的端口
				that.showPercent = true;
				//没有下载进度
				if(!message){
					that.$alert('下载文件失败');
				}else {
					that.percentage = parseInt(message.percent);
					that.dialogTitle = '正在下载文件';
					if(that.percentage == 100) {
						that.dialogTitle = '下载完成，正在准备安装';
					}
				}
			});
		},
		logout() {
			this.$store.dispatch('LogOut').then(() => {
				location.reload();  // 为了重新实例化vue-router对象 避免bug
			});
		}
	}
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding-right: 10px;
	padding-top: 10px;
	.el-button {
		height: 28px;
		line-height: 8px;
	}
	.avatar-wrapper {
		cursor: pointer;
		position: relative;
		height: 32px;
		.user-avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
	}
	.welcome {
		color: #8fa7c1;
		height: 32px;
		line-height: 30px;
		margin: 0 10px;
	}
}
</style>