* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
span,
input {
  font-family: 'Microsoft YaHei', 'Source Sans Pro', sans-serif;
}
.svg-icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.2em;
  fill: currentColor;
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #d6e4f3;
}

.el-message-box {
  width: 250px;
}