@mixin border($dir:bottom, $size:1px, $type:solid, $color:red) {
  @if $dir == left {
    border-left: $size $type $color;
  }
  @if $dir == top {
    border-top: $size $type $color;
  }
  @if $dir == right {
    border-right: $size $type $color;
  }
  @if $dir == bottom {
    border-bottom: $size $type $color;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}